<md-card>
  <md-card-title-group style="justify-content: center;">
    <md-card-title style="width: 100%; text-align: center;">Never signed up?</md-card-title>
    <md-card-subtitle style="width: 100%; text-align: center;">Sign up now!</md-card-subtitle>
  </md-card-title-group>
  <md-card-content>
    <form>
      <div style="display: flex; flex-direction: column;">
        <md-input placeholder="Email" type="email" class="fz-input"></md-input>
        <md-input placeholder="First name" class="fz-input"></md-input>
        <md-input placeholder="Last name" class="fz-input"></md-input>
        <md-input placeholder="Password" type="password" class="fz-input"></md-input>
        <md-input placeholder="Confirm password" type="password" class="fz-input"></md-input>
        <button md-raised-button class="md-primary" (click)="signUp($event)" style="text-transform: uppercase">Sign Up</button>
      </div>
    </form>
  </md-card-content>
</md-card>
