<md-card>
  <md-toolbar class="md-primary">
    <span>Sign in</span>
  </md-toolbar>
  <md-card-content>
    <form role="form" (submit)="signIn($event, username.value, password.value)">
      <div style="display: flex; flex-direction: column;">
        <md-input #username placeholder="Username"></md-input>
        <md-input #password placeholder="Password" type="password"></md-input>
        <button md-raised-button class="md-accent" type="submit">Sign in</button>
      </div>
    </form>
  </md-card-content>
</md-card>
